<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
	{% block nav %}{% endblock %}
	{% block top %}{% endblock %}
	{% block bottom %}{% endblock %}
	{% block footer %}{% endblock %}

</body>
</html>
