// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
$primary-bg: #000;
$primary-text-color: #FF3B3B;
$nav-bkg: #2b2424;
$nav-font-color-hover:#ef8080;
$footer-bkcolor:#1b1818;

/// Container's maximum width

/// Breakpoints map



/// Relative or absolute URL where all assets are served from

